In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
            index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [13]:
EU_inflation_rate = pd.read_csv("E:\Стажировки\B1 - подготовка к собеседованию\Eurostat_Table_HICPv2.csv")

In [14]:
EU_inflation_rate  # between 2008 and 2019 years

,geo,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,European Union (changing composition),3.7,1.0,2.1,3.1,2.6,1.5,0.6,0.1,0.2,1.7,1.9,1.5
1,EU (27 countries - from 2020),3.7,0.8,1.8,2.9,2.6,1.3,0.4,0.1,0.2,1.6,1.8,1.4
2,EU (28 countries),3.7,1.0,2.1,3.1,2.6,1.5,0.6,0.1,0.2,1.7,1.9,1.5
3,Euro area (changing composition),3.3,0.3,1.6,2.7,2.5,1.4,0.4,0.2,0.2,1.5,1.8,1.2
4,Euro area - 19 countries (from 2015),3.3,0.3,1.6,2.7,2.5,1.3,0.4,0.2,0.2,1.5,1.8,1.2
5,Euro area - 18 countries (2014),3.3,0.3,1.6,2.7,2.5,1.4,0.4,0.2,0.2,1.5,1.8,1.2
6,Belgium,4.5,0.0,2.3,3.4,2.6,1.2,0.5,0.6,1.8,2.2,2.3,1.2
7,Bulgaria,12.0,2.5,3.0,3.4,2.4,0.4,-1.6,-1.1,-1.3,1.2,2.6,2.5
8,Czechia,6.3,0.6,1.2,2.2,3.5,1.4,0.4,0.3,0.6,2.4,2.0,2.6
9,Denmark,3.6,1.0,2.2,2.7,2.4,0.5,0.4,0.2,0.0,1.1,0.7,0.7
10,Germany,2.8,0.2,1.1,2.5,2.2,1.6,0.8,0.7,0.4,1.7,1.9,1.4
11,Estonia,10.6,0.2,2.7,5.1,4.2,3.2,0.5,0.1,0.8,3.7,3.4,2.3
12,Ireland,3.1,-1.7,-1.6,1.2,1.9,0.5,0.3,0.0,-0.2,0.3,0.7,0.9
13,Greece,4.2,1.3,4.7,3.1,1.0,-0.9,-1.4,-1.1,0.0,1.1,0.8,0.5
14,Spain,4.1,-0.2,2.0,3.0,2.4,1.5,-0.2,-0.6,-0.3,2.0,1.7,0.8
15,France,3.2,0.1,1.7,2.3,2.2,1.0,0.6,0.1,0.3,1.2,2.1,1.3
16,Croatia,5.8,2.2,1.1,2.2,3.4,2.3,0.2,-0.3,-0.6,1.3,1.6,0.8
17,Italy,3.5,0.8,1.6,2.9,3.3,1.2,0.2,0.1,-0.1,1.3,1.2,0.6
18,Cyprus,4.4,0.2,2.6,3.5,3.1,0.4,-0.3,-1.5,-1.2,0.7,0.8,0.5
19,Latvia,15.3,3.3,-1.2,4.2,2.3,0.0,0.7,0.2,0.1,2.9,2.6,2.7
20,Lithuania,11.1,4.2,1.2,4.1,3.2,1.2,0.2,-0.7,0.7,3.7,2.5,2.2
21,Luxembourg,4.1,0.0,2.8,3.7,2.9,1.7,0.7,0.1,0.0,2.1,2.0,1.6
22,Hungary,6.0,4.0,4.7,3.9,5.7,1.7,0.0,0.1,0.4,2.4,2.9,3.4
23,Malta,4.7,1.8,2.0,2.5,3.2,1.0,0.8,1.2,0.9,1.3,1.7,1.5
24,Netherlands,2.2,1.0,0.9,2.5,2.8,2.6,0.3,0.2,0.1,1.3,1.6,2.7
25,Austria,3.2,0.4,1.7,3.6,2.6,2.1,1.5,0.8,1.0,2.2,2.1,1.5
26,Poland,4.2,4.0,2.6,3.9,3.7,0.8,0.1,-0.7,-0.2,1.6,1.2,2.1
27,Portugal,2.7,-0.9,1.4,3.6,2.8,0.4,-0.2,0.5,0.6,1.6,1.2,0.3
28,Romania,7.9,5.6,6.1,5.8,3.4,3.2,1.4,-0.4,-1.1,1.1,4.1,3.9
29,Slovenia,5.5,0.8,2.1,2.1,2.8,1.9,0.4,-0.8,-0.2,1.6,1.9,1.7
30,Slovakia,3.9,0.9,0.7,4.1,3.7,1.5,-0.1,-0.3,-0.5,1.4,2.5,2.8
31,Finland,3.9,1.6,1.7,3.3,3.2,2.2,1.2,-0.2,0.4,0.8,1.2,1.1
32,Sweden,3.3,1.9,1.9,1.4,0.9,0.4,0.2,0.7,1.1,1.9,2.0,1.7
33,United Kingdom,3.6,2.2,3.3,4.5,2.8,2.6,1.5,0.0,0.7,2.7,2.5,1.8
34,Iceland,12.8,16.3,7.5,4.2,6.0,4.1,1.0,0.3,0.8,-1.7,0.7,2.0
35,Norway,3.4,2.3,2.3,1.3,0.4,2.0,1.9,2.0,3.9,1.9,3.0,2.3
36,Switzerland,2.4,-0.7,0.6,0.1,-0.7,0.1,0.0,-0.8,-0.5,0.6,0.9,0.4
37,North Macedonia,7.6,-0.1,1.1,3.2,1.8,2.7,0.0,0.1,0.2,2.1,2.3,0.7
38,Serbia,11.9,8.2,6.2,11.2,7.4,7.7,2.3,1.5,1.3,3.3,2.0,1.9
39,Turkey,10.4,6.3,8.6,6.5,9.0,7.5,8.9,7.7,7.7,11.1,16.3,15.2
40,United States,4.4,-0.8,2.6,3.9,2.2,1.3,1.3,-0.8,0.5,1.7,2.2,1.3

In [15]:
EU_inflation_rate.shape  # 41 record with 13 different columns

(41, 13)

In [16]:
EU_inflation_rate.head()  # 5 first rows

,geo,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,European Union (changing composition),3.7,1.0,2.1,3.1,2.6,1.5,0.6,0.1,0.2,1.7,1.9,1.5
1,EU (27 countries - from 2020),3.7,0.8,1.8,2.9,2.6,1.3,0.4,0.1,0.2,1.6,1.8,1.4
2,EU (28 countries),3.7,1.0,2.1,3.1,2.6,1.5,0.6,0.1,0.2,1.7,1.9,1.5
3,Euro area (changing composition),3.3,0.3,1.6,2.7,2.5,1.4,0.4,0.2,0.2,1.5,1.8,1.2
4,Euro area - 19 countries (from 2015),3.3,0.3,1.6,2.7,2.5,1.3,0.4,0.2,0.2,1.5,1.8,1.2

In [17]:
fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
fruits

   Apples  Bananas
0      30       21

In [18]:
fruit_sales = pd.DataFrame({'Apples': [35, 41], 'Bananas': [21, 34]},
                           index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [19]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'],
                       index=['Flour', 'Milk', 'Eggs', 'Spam'],
                       name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [21]:
# reviews = pd.read_csv('../input/wine-reviews/winemag-data_first150k.csv',
#                      index_col=0)
# reviews

In [22]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [24]:
df = pd.DataFrame(animals)
df.to_csv('cows_and_goats.csv', encoding='UTF-8')
# animals.to_csv('cows_and_goats.csv')