In [1]:
import pandas as pd

In [2]:
info = pd.read_csv('E:\Стажировки\B1 - подготовка к собеседованию\Eurostat_Table_HICPv2.csv')

pd.set_option("display.max_rows", 6)  # display only six entries

In [3]:
info.head()  # display five first DataFrame's entries

,geo,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,European Union (changing composition),3.7,1.0,2.1,3.1,2.6,1.5,0.6,0.1,0.2,1.7,1.9,1.5
1,EU (27 countries - from 2020),3.7,0.8,1.8,2.9,2.6,1.3,0.4,0.1,0.2,1.6,1.8,1.4
2,EU (28 countries),3.7,1.0,2.1,3.1,2.6,1.5,0.6,0.1,0.2,1.7,1.9,1.5
3,Euro area (changing composition),3.3,0.3,1.6,2.7,2.5,1.4,0.4,0.2,0.2,1.5,1.8,1.2
4,Euro area - 19 countries (from 2015),3.3,0.3,1.6,2.7,2.5,1.3,0.4,0.2,0.2,1.5,1.8,1.2

In [4]:
info.geo

0     European Union (changing composition)
1             EU (27 countries - from 2020)
2                         EU (28 countries)
                      ...
38                                   Serbia
39                                   Turkey
40                            United States
Name: geo, Length: 41, dtype: object

In [5]:
info['2010']  # to get data from digital column number

0     2.1
1     1.8
2     2.1
     ...
38    6.2
39    8.6
40    2.6
Name: 2010, Length: 41, dtype: float64

In [6]:
info['geo'][15]  # access to the 16th row label

'France'

In [7]:
info.iloc[15]

geo     France
2008       3.2
2009       0.1
         ...
2017       1.2
2018       2.1
2019       1.3
Name: 15, Length: 13, dtype: object

In [8]:
info.iloc[:, 0]

0     European Union (changing composition)
1             EU (27 countries - from 2020)
2                         EU (28 countries)
                      ...
38                                   Serbia
39                                   Turkey
40                            United States
Name: geo, Length: 41, dtype: object

In [9]:
info.iloc[:3, 0]

0    European Union (changing composition)
1            EU (27 countries - from 2020)
2                        EU (28 countries)
Name: geo, dtype: object

In [10]:
info.iloc[[1, 3, 5], [0, 2]]

                                geo  2009
1     EU (27 countries - from 2020)   0.8
3  Euro area (changing composition)   0.3
5   Euro area - 18 countries (2014)   0.3

In [11]:
df = info[:]

In [12]:
df.loc[[14, 23], ['geo', '2009', '2013']]

      geo  2009  2013
14  Spain  -0.2   1.5
23  Malta   1.8   1.0

In [13]:
# df.set_index('geo')  -> run it without #

In [14]:
df.loc[:, ['2008', '2009']] <= 5
# shows countries with inflation level below 5%

     2008   2009
0    True   True
1    True   True
2    True   True
..    ...    ...
38  False  False
39  False  False
40   True   True

[41 rows x 2 columns]

In [15]:
df.loc[df['geo'] == 'Turkey', ['2008', '2009']] <= 10

     2008  2009
39  False  True

In [16]:
df.loc[df['geo'] == 'United States']

,geo,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
40,United States,4.4,-0.8,2.6,3.9,2.2,1.3,1.3,-0.8,0.5,1.7,2.2,1.3

In [17]:
df.loc[df.geo.isin(['Serbia', 'United States'])]

,geo,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
38,Serbia,11.9,8.2,6.2,11.2,7.4,7.7,2.3,1.5,1.3,3.3,2.0,1.9
40,United States,4.4,-0.8,2.6,3.9,2.2,1.3,1.3,-0.8,0.5,1.7,2.2,1.3

In [28]:
df.iloc[:, 1:]

    2008  2009  2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
0    3.7   1.0   2.1   3.1   2.6   1.5   0.6   0.1   0.2   1.7   1.9   1.5
1    3.7   0.8   1.8   2.9   2.6   1.3   0.4   0.1   0.2   1.6   1.8   1.4
2    3.7   1.0   2.1   3.1   2.6   1.5   0.6   0.1   0.2   1.7   1.9   1.5
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
38  11.9   8.2   6.2  11.2   7.4   7.7   2.3   1.5   1.3   3.3   2.0   1.9
39  10.4   6.3   8.6   6.5   9.0   7.5   8.9   7.7   7.7  11.1  16.3  15.2
40   4.4  -0.8   2.6   3.9   2.2   1.3   1.3  -0.8   0.5   1.7   2.2   1.3

[41 rows x 12 columns]

# Exercise 2

In [29]:
import pandas as pd

In [33]:
reviews = pd.read_csv("E:\Стажировки\B1 - подготовка к собеседованию\winemag-data-130k-v2.csv",
                     index_col=0)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [34]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [35]:
desc = reviews.description
type(desc)

pandas.core.series.Series

In [37]:
desc

In [38]:
first_description = reviews["description"][0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

In [39]:
first_row = reviews.iloc[0]
first_row

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
designation                                         Vulkà Bianco
                                     ...
title                          Nicosia 2013 Vulkà Bianco  (Etna)
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [40]:
first_descriptions = reviews["description"].iloc[:10]
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
                           ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, Length: 10, dtype: object

In [41]:
desc.head(10)

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
                           ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, Length: 10, dtype: object

In [42]:
reviews.loc[:9, "description"]

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
                           ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, Length: 10, dtype: object

In [43]:
sample_reviews = reviews.iloc[[1, 2, 3, 5, 8], :]
sample_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel

In [44]:
df = reviews.loc[[0, 1, 10, 100],
                 ['country', 'province', 'region_1', 'region_2']]
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

In [45]:
df = reviews.loc[:99, ['country', 'variety']]
df

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
2         US                Pinot Gris
..       ...                       ...
97        US                  Riesling
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

In [47]:
italian_wines = reviews.loc[reviews['country'] == 'Italy', :]
italian_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65476,Italy,"Rose, violet, sour berry and tilled earth arom...",Prugnolo,88,25.0,Tuscany,Rosso di Montepulciano,NaN,Kerin O’Keefe,@kerinokeefe,Boscarelli 2015 Prugnolo (Rosso di Montepulci...,Red Blend,Boscarelli
65477,Italy,"Made of 65% Merlot, 25% Cabernet Sauvignon, 5%...",Ruit Hora,88,30.0,Tuscany,Bolgheri,NaN,Kerin O’Keefe,@kerinokeefe,Caccia al Piano 1868 2013 Ruit Hora (Bolgheri),Red Blend,Caccia al Piano 1868
65478,Italy,"Aromas suggesting French oak, coconut and spic...",NaN,88,36.0,Tuscany,Vino Nobile di Montepulciano,NaN,Kerin O’Keefe,@kerinokeefe,Il Macchione 2012 Vino Nobile di Montepulciano,Sangiovese,Il Macchione

In [48]:
top_oceania_wines = reviews.loc[
    reviews['country'].isin(['Australia', 'New Zealand']) & 
    (reviews.points >= 95)]

top_oceania_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
348,Australia,Deep mahogany. Dried fig and black tea on the ...,Grand,97,100.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Grand Muscat (R...,Muscat,Chambers Rosewood Vineyards
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56959,Australia,Is this the Yin to Grange's Yang? The wines ar...,Hill of Grace,96,820.0,South Australia,Eden Valley,NaN,Joe Czerwinski,@JoeCz,Henschke 2010 Hill of Grace Shiraz (Eden Valley),Shiraz,Henschke
59977,Australia,This is a top example of the classic Australia...,The Peake,96,150.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Hickinbotham 2013 The Peake Cabernet-Shiraz (M...,Cabernet-Shiraz,Hickinbotham
59984,Australia,"This is a throwback to those brash, flavor-exu...",One,95,95.0,South Australia,Langhorne Creek,NaN,Joe Czerwinski,@JoeCz,Heartland 2013 One Red (Langhorne Creek),Red Blend,Heartland